
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <div>
            <label for="Title">Title:</label><br />
            <input type="text" name="Title" />
        </div>
        <div>
            <label for="Title">Author:</label><br />
            <input type="text" name="Author" />
        </div>
        <div>
            <label for="Price">Price:</label><br />
            <input type="text" name="Price" />
        </div>
        <input type="submit" value="Add" />
    </form>
</body>
</html>
